<!doctype html>
<html lang="en">
<head>
    <%- include('components/head.ejs') %>
    <title>Home</title>
</head>
<body>
<%- include('components/nav.ejs') %>

<%- include('components/script.ejs') %>
</body>
</html>
